<div fxFlex="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="header">
	<!-- <button mat-icon-button (click)="sidenav.toggle();" style="color:black">
      <mat-icon>menu</mat-icon>
    </button> -->
	<h4 style="color:black">WQMS</h4>
	
	<span class="spacer"></span>

	<img src="//placehold.it/30" class="rounded-circle" />

	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
			aria-haspopup="true" aria-expanded="false">
			{{username}}
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="userprofile">User Profile</a>
			<a class="dropdown-item" href="#">Logout</a>
		</div>
	</div>
</div>