table {
  width: 100%;
}


.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
  
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.7rem;
  
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.add{
  background-color: black;
}

.open{
  background-color: #E33C76;
  color: white;
}

.pending{
  background-color: #EA8003;
  color: white;
}

 .btn-circle i{
  color: rgb(68, 68, 68);
  font-size: 10px;
}

.done{
  background-color: #37C964;
  color: white;
}

.inprogress{
  background-color: #002AD8;
  color: white;
}

button .fa-plus{
  color: white;
  font-size: 15px;
}

.megamenu {
  position: static;
}

.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
}

.customWidth1{
  width:44%;
}
.customWidth2{
  width:100%;
}
.hideTwo{
  display: none;
}
.example-card{
  background: whitesmoke; 
}
.blue{
  color: #174A84;
}
.gray{
  color:gray
}

.btn-light{
  margin-top: 0px;;
  margin-right: 0px;
}

.fs-16{
  font-size: 16px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-bottom: 4px solid #ff0000 !important;
  border: none;
  background: transparent;
  color: #4e6ce6;
}
.nav-tabs .nav-link {
  color: #4e6ce6;
}
::ng-deep .mat-step-icon {
  background: black !important;
  height: 50px !Important;
  width: 50px !Important;
}

::ng-deep .mat-tab-label-content {
  color: #355AD8;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: #FF0000;
}

#summary {
  font-size: 14px;
  line-height: 1.5;
}

#summary div.collapse:not(.show) {
    /* height: 70px !important; */

    height: 61px !important; 
    overflow: hidden;
  
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

#summary div.collapsing {
    min-height: 42px !important;
}

#summary a.collapsed:after  {
    content: '+ Show More';
}

#summary a:not(.collapsed):after {
    content: '- Show Less';
}





#summary1 {
  font-size: 14px;
  line-height: 1.5;
}

#summary1 div.collapse:not(.show) {
    /* height: 50px !important; */

    height: 3px !important;
    overflow: hidden;
  
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

#summary1 div.collapsing {
    min-height: 42px !important;
}

#summary1 a.collapsed:after  {
    content: '+ Show More';
}

#summary1 a:not(.collapsed):after {
    content: '- Show Less';
}



label {
  cursor: pointer;
  /* Style as you please, it will become the visible UI component. */
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
::ng-deep .mat-drawer-container {
  background-color: #fff !important;
  /* color: rgba(0,0,0,.87); */
}

::ng-deep .mat-sidenav-backdrop.mat-sidenav-shown{
  background-color: transparent !important;
}

::ng-deep .mat-dialog-title {
  text-align: center;
  color: #174A84;
  
}
