<h5> LifeCyclesss</h5>
<div class="row">
	<div class="col-sm-10">
		<button type="button" class="btn btn-link" (click)="openDialogconfirm(0)"><i class="fa fa-trash-o"
				aria-hidden="true"></i></button>
	</div>

	<div class="col-sm-2">
		<div class="input-group">
			<!-- <input class="form-control" type="text" placeholder="Type to filter" (keyup)="updateFilter1($event)" /> -->

			<!-- <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
					placeholder="search" (keyup)="applyFilter($event.target.value)"> -->

			<input #search id="search" type="text" class="form-control" placeholder="Search" aria-label="Search"
				aria-describedby="basic-addon1" />

			<div class="input-group-btn">
				<button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
				</button>

				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="#"> <input type="checkbox" class="form-check-input" value="all"
							checked>All</a>
					<a class="dropdown-item" href="#"> <input type="checkbox" class="form-check-input" value="id">Id</a>
					<a class="dropdown-item" href="#"> <input type="checkbox" class="form-check-input"
							value="queuename">Queue name</a>
					<a class="dropdown-item" href="#"> <input type="checkbox" class="form-check-input"
							value="description"> Description</a>
					<a class="dropdown-item" href="#"> <input type="checkbox" class="form-check-input" value="status">
						Status</a>
				</div>
			</div>

			<button class="btn add btn-circle btn-circle-sm m-1" (click)="openDialog1()"><i
					class="fa fa-plus"></i></button>

		</div>
	</div>
</div>

<ngx-datatable #table           class="material"           [rows]="rows" [sortType]="SortType.multi"
	          [columns]="columns"            [columnMode]="'force'"           [headerHeight]="50"
	          [footerHeight]="50"           [rowHeight]="'auto'"           [limit]="7"           [selected]="selected"
	          [selectionType]="'checkbox'"           [selectAllRowsOnPage]="false" [displayCheck]="displayCheck"
	          (select)='onSelect($event)'>
</ngx-datatable>

<ng-template #buttonsTemplate let-row="row" let-value="value">
	<!-- <button class="btn btn-primary" (click)='onSelect(row)'>Button
	</button> -->
	<button class="btn btn-default  btn-sm" (click)='openDialogview(row)'>
		<span class="fa fa-eye"></span>
	</button>
	<button class="btn btn-default  btn-sm" (click)='openDialog(row)'>
		<span class="fa fa-edit"></span>
	</button>
	<button class="btn btn-default btn-sm" (click)="openDialogconfirm(row.id)">
		<span class="fa fa-trash"></span>
	</button>

</ng-template>
